#!/bin/bash

# cspell: ignore acados, ACADOS
export CMAKE_PREFIX_PATH="/opt/acados:${CMAKE_PREFIX_PATH}"
export ACADOS_SOURCE_DIR="/opt/acados"
export LD_LIBRARY_PATH="/opt/acados/lib:${LD_LIBRARY_PATH}"
