- name: install development commands
  apt:
    name:
      - cmake
      - ccache
      - ninja
      - coredumpctl
      - fzf
      - fd-find
      - jq
      - bat
    state: present # NOTE: if not installed, install
    update_cache: false # apt-update is not necessary

# fd
- name: symlink fdfind to fd
  become: false
  file:
    src: $(which fdfind)
    dest: "{{ lookup('env','HOME') }}/.local/bin/fd"
    state: link

- name: check fd command
  ansible.builtin.command: which fd

# bat
- name: symlink batcat to bat
  become: false
  src: $(which batcat)
  dest: "{{ lookup('env','HOME') }}/.local/bin/bat"
  state: link

- name: check bat command
  ansible.builtin.command: which bat

# difft
- name: download difftastic
  ansible.builtin.get_url:
    url: https://github.com/Wilfred/difftastic/releases/download/0.67.0/difft-x86_64-unknown-linux-gnu.tar.gz
    dest: /tmp/difftastic.tar.gz

- name: install difftastic
  ansible.builtin.unarchive:
    src: /tmp/difftastic.tar.gz
    # NOTE: only contains "difft" file
    dest: "{{ lookup('env','HOME') }}/.local/bin"

- name: check difft
  ansible.builtin.command: which difft
