build/
*.so
*.a
*.o
a.out
gitignore/
.ipynb_checkpoints/
__pycache__
*.pyc
*.aux
*.dvi
*.log
*.blg
*.bbl
*.elc
*.~undo-tree~
.ccls
.ccls-cache/
.clangd/
compile_commands.json
.envrc
.config/fish/conf.d/rustup.fish
.config/alacritty/themes