.emacs.d/auto-save-list
.emacs.d/irony
.emacs.d/latex-math-preview-cache
.emacs.d/snippets
.emacs.d/url
.python-environments
ac-comphist.dat
network-security.data
srecode-map.el
.emacs.d/session*
.emacs.d/%*
.emacs.d/tramp
.emacs.d/eshell
.emacs.d/tutorial
.emacs.d/request/
.emacs.d/bookmarks
.emacs.d/recentf
.emacs.d/elpa
.emacs.d/transient
