repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-toml

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args:
          [
            "--fix",
            "--config",
            ".markdownlint-cli2.jsonc",
            "README.md",
            "docs/**/*.md",
          ]

  - repo: https://github.com/hugoh/pre-commit-fish.git
    rev: v1.2
    hooks:
      - id: fish_syntax
      - id: fish_indent

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      # Choose one of:
      - id: shfmt         # prebuilt upstream executable
      - id: shfmt-src     # build from source (requires/installs Go to build)
      - id: shfmt-docker  # Docker image (requires Docker to run)
