# bat
- name: locate batcat
  ansible.builtin.command: command -v batcat
  register: which_batcat
  failed_when: which_batcat.rc != 0

- name: symlink batcat to bat
  become: false
  file:
    src: "{{ which_batcat.stdout }}"
    dest: "{{ lookup('env','HOME') }}/.local/bin/bat"
    state: link

- name: check bat command
  ansible.builtin.command: which bat
