# bat
- name: symlink batcat to bat
  become: false
  file:
    src: $(which batcat)
    dest: "{{ lookup('env','HOME') }}/.local/bin/bat"
    state: link

- name: check bat command
  ansible.builtin.command: which bat
