# bat
- name: setup bat command
  become: false
  block:
    - name: apt install bat
      apt:
        name:
          - bat
        state: present

    - name: locate batcat
      ansible.builtin.command: which batcat
      register: which_batcat
      failed_when: which_batcat.rc != 0
      changed_when: false

    - name: symlink batcat to bat
      file:
        src: "{{ which_batcat.stdout }}"
        dest: "{{ lookup('env','HOME') }}/.local/bin/bat"
        state: link

    - name: check bat command
      ansible.builtin.command: which bat
      changed_when: false
