# fish
- name: setup fish
  block:
    - name: add fish ppa
      apt_repository:
        repo: ppa:fish-shell/release-3
        state: present

    - name: apt install fish
      apt:
        name: fish
        state: present
        update_cache: true

    - name: install plugins from fish_plugins file
      become: false
      ansible.builtin.shell: >-
        curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher update
      args:
        executable: fish
