- name: create local bin dir
  become: false
  file:
    path: "{{ lookup('env','HOME') }}/.local/bin"
    state: directory
    mode: '0755'
  debug:
    msg:
      run: |
        echo `ls -a {{ lookup('env','HOME') }}`
