- name: create local bin dir
  become: false
  file:
    path: "{{ lookup('env','HOME') }}/.local/bin"
    state: directory
    mode: '0755'

- name: create local share dir
  become: false
  file:
    path: "{{ lookup('env','HOME') }}/.local/share/bash-completion/completions"
    state: directory
    mode: '0755'

- name: check PATH
  ansible.builtin.shell: echo $PATH
  register: out

- debug: var=out.stdout_lines

- name: check ls
  ansible.builtin.shell: ls -a {{ lookup('env','HOME') }}
  register: out

- debug: var=out.stdout_lines
