- name: create local bin dir
  become: false
  file:
    path: "{{ lookup('env','HOME') }}/.local/bin"
    state: directory
    mode: '0755'

- name: create local share dir
  become: false
  file:
    path: "{{ lookup('env','HOME') }}/.local/share"
    state: directory
    mode: '0755'

- name: add PATH for local environment
  # NOTE: this is effective only on local machine
  ansible.builtin.shell: export PATH="$PATH:{{ lookup('env','HOME') }}/.local/bin"

- name: check ls
  ansible.builtin.shell: echo $PATH
  register: out
- debug: var=out.stdout_lines
