- name: create local bin dir
  become: false
  file:
    path: "{{ lookup('env','HOME') }}/.local/bin"
    state: directory
    mode: '0755'

- name: debug
  ansible.builtin.shell: ls -a {{ lookup('env','HOME') }}
