# tmux
- name: setup tmux
  block:
    - name: snap install tmux
      community.general.snap:
        name: tmux
        classic: true
        state: present

    - name: check .tmux.conf exists
      stat:
        path: "{{ lookup('env', 'HOME') }}/.tmux.conf"
      register: tmux_conf_exists
      changed_when: false

    - name: backup .tmux.conf if already exists
      become: false
      ansible.builtin.shell: >-
        mv "{{ lookup('env', 'HOME') }}/.tmux.conf" "{{ lookup('env', 'HOME') }}/.tmux.conf.bak"
      when: tmux_conf_exists.stat.exists and not tmux_conf_exists.stat.islnk

    - name: create symlink to .tmux.conf(unless symlink does not already exist)
      become: false
      file:
        src: "{{ (playbook_dir + '/../.tmux.conf') | realpath }}"
        dest: "{{ lookup('env', 'HOME') }}/.tmux.conf"
        state: link
      when: not tmux_conf_exists.stat.exists

    - name: check .config/tmux exists
      stat:
        path: "{{ lookup('env', 'HOME') }}/.config/tmux"
      register: config_tmux_d_exists
      changed_when: false

    - name: backup .config/tmux if already exists
      become: false
      ansible.builtin.shell: >-
        mv "{{ lookup('env', 'HOME') }}/.config/tmux" "{{ lookup('env', 'HOME') }}/.config/tmux.bak"
      when: config_tmux_d_exists.stat.exists and not config_tmux_d_exists.stat.islnk

    - name: create symlink to .config/tmux(unless symlink does not already exist)
      become: false
      file:
        src: "{{ (playbook_dir + '/../.config/tmux') | realpath }}"
        dest: "{{ lookup('env', 'HOME') }}/.config/tmux"
        state: link
      when: not config_tmux_d_exists.stat.exists

    - name: create .config/tmux/plugin
      become: false
      file:
        path: "{{ lookup('env','HOME') }}/.config/tmux/plugin"
        state: directory
        mode: '0755'

    - name: instal tmux plugin
      become: false
      git:
        repo: "{{ item.repo }}"
        dest: "{{ lookup('env','HOME') }}/.config/tmux/plugin/{{ item.name }}"
        update: yes
      loop:
        - name: tmux-sidebar
          repo: https://github.com/tmux-plugins/tmux-sidebar.git
        - name: tmux-resurrect
          repo: https://github.com/tmux-plugins/tmux-resurrect.git
        - name: tmux-continuum
          repo: https://github.com/tmux-plugins/tmux-continuum.git
        - name: tmux-named-snapshot
          repo: https://github.com/spywhere/tmux-named-snapshot.git

    - name: install tmux-mem-cpu-load
      block:
        - name: clone project
          git:
            repo: https://github.com/thewtex/tmux-mem-cpu-load.git
            dest: /tmp/tmux-mem-cpu-load

        - name: create build dir
          ansible.builtin.file:
            path: /tmp/tmux-mem-cpu-load/build
            state: directory

        - name: cmake
          ansible.builtin.command:
            cmd: "cmake .. -DCMAKE_INSTALL_PREFIX={{ lookup('env','HOME') }}/.local"
            chdir: /tmp/tmux-mem-cpu-load/build

        - name: build
          ansible.builtin.command:
            cmd: make -j
            chdir: /tmp/tmux-mem-cpu-load/build

        - name: install
          ansible.builtin.command:
            cmd: make install
            chdir: /tmp/tmux-mem-cpu-load/build
