- name: install fonts on baremetal
  apt:
    name:
      - fonts-powerline
      - fonts-takao-gothic
      - fonts-takao-pgothic
      - fonts-firacode
    state: present
  when: is_baremetal

- name: check fonts installability on ci
  apt:
    name:
      - fonts-powerline
      - fonts-takao-gothic
      - fonts-takao-pgothic
      - fonts-firacode
    state: present
  when: not is_baremetal
  check_mode: true

- name: install HackGen font
  block:
    - name: download zip file
      ansible.builtin.get_url:
        url: https://github.com/yuru7/HackGen/releases/download/v2.10.0/HackGen_NF_v2.10.0.zip
        dest: /tmp/HackGen_NF.zip

    - name: unarchive zip file
      ansible.builtin.unarchive:
        src: /tmp/HackGen_NF.zip
        dest: /usr/local/share/fonts/

    - name: update cache
      ansible.builtin.shell: fc-cache -vf
