auto-save-list
irony
latex-math-preview-cache
snippets
url
.python-environments
ac-comphist.dat
network-security.data
srecode-map.el
session*
%*
tramp
eshell
tutorial
request/
bookmarks
recentf
elpa
transient
.lsp-session-v1
eln-cache/
