name: pre-commit

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v3

      - name: install fish
        uses: fish-shop/install-fish-shell@v1

      - name: run pre-commit
        shell: fish
        uses: pre-commit/action@v3.0.1

      - name: push pre-commit fix
        if: always()
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "style(pre-commit): autofix"
          add_options: -u
