name: semantic-pull-request

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  semantic-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title
        uses: amannn/action-semantic-pull-request@v6 # // cspell:disable-line
        with:
          type: |
            feat
            fix
            refactor
            perf
            test
            ci
            chore
            docs
            style
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
