name: Lint PR title

on:
  pull_request_target:
    types:
      - [opened, reopened, edited]

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    permission:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
